<nav class="navbar">
  <div class="navbar-logo">
    <h1>Application Reservation Vélo</h1>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
    <li><a routerLink="/users" routerLinkActive="router-link-active">Utilisateurs</a></li>
    <li><a routerLink="/reservations" routerLinkActive="router-link-active">Réservations</a></li>
    <li><a routerLink="/velos" routerLinkActive="router-link-active">Vélos</a></li>
    <li><a routerLink="/map" routerLinkActive="router-link-active">Carte</a></li>
  </ul>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
    <a *ngIf="!auth.isLogged()" routerLink="/login" class="login-btn">
      Se connecter
    </a>
    <a *ngIf="auth.isLogged()" (click)="logout()" class="logout-link">
      Déconnexion
    </a>

  </div>
</nav>
